# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env
.env.*
!.env.example

# -----------------
# Server (Go/Gin)
# -----------------
/server/tmp/
/server/bin/
/server/main
/server/*.exe
/server/*.test
/server/*.prof
/server/*.out

# -----------------
# Client (Angular)
# -----------------
/client/node_modules/
/client/dist/
/client/tmp/
/client/out-tsc/
/client/bazel-out/
/client/.angular/
/client/coverage/
/client/logs/

# npm/yarn/pnpm logs
/client/npm-debug.log*
/client/yarn-error.log*
/client/yarn-debug.log*
/client/.pnpm-debug.log*

# AI
.agents
.anthropic/
.cursor/
*.log
GEMINI.md
